.buy {
    display: grid;
    grid-gap: 1.5rem;
}

.buy h2 {
    color: rgb(237, 253, 148);
    padding-top: 1rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
}

.buy #search {
    display: grid;
    grid-template-columns: 6fr 4rem;
    margin: 0 20%;
}

.buy input {
    color: rgb(214, 0, 0);
    background-color: rgb(20, 13, 13);
}

@media all and (max-width: 660px) {
    .buy #search {
        grid-template-columns: 10rem 4rem;
        margin: 0 auto;
    }
}