#sell {
    color: orange;
}

#sell #container {
    height: 35rem;
    display: grid;
    align-items: center;
    color: black;
}

#sell .form{
    height: 30rem;
}

#sell label {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

#sell input {
    margin-left: 2rem;
}

#sell #desc {
    width: 30vw;
    height: 13vh;
}

#sell button {
    margin: 0 1.4rem;
}

#sell h2 {
    margin-bottom: 2rem;
}

#sell table {
    width: 100%;
    color: rgb(223, 223, 223);
}

#sell th {
    color: rgb(186, 189, 0);
    border: 3px solid rgb(185, 5, 5);
}

#sell td {
    border: 3px solid rgb(230, 106, 6);
}