.product {
    text-align: center;
    width: 20rem;
    height: 25rem;
    background-color: rgb(118, 252, 252);
    display: grid;
    align-content: space-evenly;
    margin-bottom: 2rem;
}

.product ul {
    list-style-type: none;
}

.product li {
    padding: 0.7rem;
}

.product h3 {
    background: rgb(42, 235, 116);
    padding: 0.5rem;
}

.product button {
    background-color: rgb(255, 102, 0);
}