.product {
    text-align: center;
    width: 20rem;
    height: auto;
    background-color: rgb(118, 252, 252);
    display: grid;
    grid-template-columns: 20rem;
    align-content: space-evenly;
    font-family: 'Lato', sans-serif;
}

.product ul {
    list-style-type: none;
    word-wrap: break-word;
    overflow: auto;
}

.product li {
    margin: 0.6rem;
    height: auto;
}

.product h3 {
    background: rgb(42, 235, 116);
    padding: 0.5rem;
}

.product #image {
    transition: transform 0.4s;
}

.product #image:hover {
    transform: scale(1.3);
}

.product #desc {
    font-size: 0.7rem;
    height: 2rem;
}

.product button {
    width: 5.6rem;
    height: 2.5rem;
    border-radius: 1.2rem;
    border: none;
    color: white;
    background-color: rgb(255, 102, 0);
}