#navbar {
    width: 100%;
    background-color: rgb(29, 231, 83);
    display: flex;
    box-shadow: 2px 2px 10px 4px rgb(6, 128, 25) inset;
}

@media all and (max-width: 862px) {
    #navbar {
        overflow-x: auto;
        box-shadow: 2px 2px 10px 4px rgb(33, 151, 49) inset;
    }
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar li {
    padding: 1rem 4rem;
    font-family: 'Ubuntu', sans-serif;
}

#navbar li:hover {
    cursor: pointer;
}

.login-register {
    color: rgb(241, 36, 36);
}

.login-register li:hover {
    color: rgb(241, 36, 36);
    background-color: #e0e0e0;
    box-shadow: 3px 3px 15px 5px black;
}

.account-logout {
    color: rgb(228, 145, 12);
}

.account-logout li:hover {
    color: white;
    background-color: rgb(38, 94, 247);
}

.unselected {
    transition: transform 0.3s;
}

.unselected:hover {
    transform: scale(1.2);
    background-color: rgb(67, 226, 109);
    color: #e48717;
    box-shadow: 3px 3px 15px 5px black;
}

.selected-main {
    background-color: rgb(15, 163, 52);
    box-shadow: 3px 3px 10px 5px rgb(2, 87, 2) inset;
}

.selected-login-or-register {
    background-color: rgb(32, 28, 22);
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
}

.selected-logged-in {
    background-color: rgb(10, 66, 248);
    border-right: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
}