#navbar {
    width: 100%;
    background-color: rgb(162, 243, 183);
    /* position: fixed; */
    height: 4rem;
    display: flex;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar li {
    padding: 0 4rem;
}

#navbar li:hover {
    cursor: pointer;
}

#login-register {
    justify-self: flex-end;
    color: rgb(241, 36, 36);
}

#login-register li:hover {
    color: rgb(207, 114, 26);
}

.unselected {
    transition: transform 0.3s;
}

.unselected:hover {
    transform: scale(1.2);
    background-color: rgb(139, 235, 164);
    color: rgb(195, 121, 31);
}

.selected-main {
    background-color: rgb(67, 253, 197);
}

.selected-login-or-register {
    background-color: rgb(32, 28, 22);
}

p {
    display: flex;
    align-self: center;
    padding: 0 4rem;
    color: rgb(109, 66, 13);
    font-family: 'Times New Roman', Times, serif;
}

p:hover {
    color: rgb(207, 26, 26);
    cursor: pointer;
}