#navbar {
    width: 100%;
    background-color: rgb(113, 250, 150);
    display: flex;
}

@media all and (max-width: 862px) {
    #navbar {
        overflow-x: auto;
    }
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar li {
    padding: 1rem 4rem;
    font-family: 'Ubuntu', sans-serif;
}

#navbar li:hover {
    cursor: pointer;
}

.login-register {
    color: rgb(241, 36, 36);
}

.login-register li:hover {
    color: rgb(241, 36, 36);
    background-color: #e0e0e0;
}

.account-logout {
    color: rgb(228, 145, 12);
}

.account-logout li:hover {
    color: white;
    background-color: rgb(38, 94, 247);
}

.unselected {
    transition: transform 0.3s;
}

.unselected:hover {
    transform: scale(1.2);
    background-color: rgb(54, 211, 95);
    color: #e48717;
}

.selected-main {
    background-color: rgb(14, 204, 61);
}

.selected-login-or-register {
    background-color: rgb(32, 28, 22);
}

.selected-logged-in {
    background-color: rgb(10, 66, 248);
}