.container {
    width: 100%;
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.register {
    width: 645px;
    height: 60vh;
    display: grid;
    justify-content: center;
    align-content: center;
    border: 3px solid black;
    border-radius: 4rem;
    background-color: rgb(177, 3, 3);
    font-size: 1.5rem;
}

.register input {
    width: 19.5rem;
}

.register button {
    margin: 0 auto;
    width: 7rem;
    height: 4vh;
    background-color: rgb(39, 12, 12);
    color: white;
    border: none;
    border-radius: 1.2rem;
}

@media all and (max-width: 1200px) {
    .register {
        width: 50vw;
    }
    .regiser button {
        width: 10vw;
    }
}

@media all and (max-width: 660px) {
    .register {
        width: 100vw;
    }
    .register button {
        width: 17vw;
    }
    .register input {
        width: 50vw;
    }
}

@media all and (max-width: 412px) {
    .register button {
        width: 4.5rem;
    }
}