body {
  top: 0;
  background: rgb(47, 47, 47);
  text-align: center;
}

h1 {
  padding: 0.2rem 0;
  background-color: aliceblue;
  font-family: 'Comfortaa', cursive;
}

button:hover {
  cursor: pointer;
}